<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Nitocris Gallery</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
      <link rel="stylesheet" href="/css/styles.css">
   </head>
   <body>
      <div class="container">
         <h1>Nitocris Gallery</h1>
         <div class="gallery">
            <% images.forEach(function (image) { %>
            <a href="<%= image %>" data-lightbox="gallery">
            <img src="<%= image %>" alt="Nitocris" onerror="this.style.display='none'"/>
            </a>
            <% }); %>
         </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
      <script>
         lightbox.option({
         	resizeDuration: 200,
         	wrapAround: true,
         	alwaysShowNavOnTouchDevices: true
         });
      </script>
   </body>
</html>
